@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

/* <!-- From Uiverse.io by catraco -->  */

.my-btn {
  @apply text-sky-400 border border-sky-400 hover:bg-sky-400;
}


 .linear-btn{
  @apply bg-[#045B98] text-white

}
/* .linear-text{
  @apply text-transparent bg-clip-text bg-linear-to-r from-[#632EE3] to-[#9F62F2]
} */
.blue-text {
  @apply text-[#001931];
}
.gray-text {
  @apply text-[#A1A1AA];
}
.white-text {
  @apply text-white font-medium text-lg;
}

* {
  font-family: "Inter", sans-serif;
}

a.active {
  @apply text-[#045B98] font-semibold border-2 
;
}
