  @import "tailwindcss";
 @plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }


 .linear-btn{
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] text-white
}
.linear-text{
  @apply text-transparent bg-clip-text bg-linear-to-r from-[#632EE3] to-[#9F62F2]
}
.blue-text{
  @apply text-[#001931]
}
.gray-text{
  @apply text-[#A1A1AA] 
}
.white-text{
    @apply text-white font-medium text-lg
}

*{
   font-family: "Inter", sans-serif;
}

a.active{
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] text-white font-semibold
}

 /* .fancy-btn{
  @apply relative font-inherit text-[15px] px-[2.7em] py-[0.7em] tracking-[0.06em] rounded-[0.6em] border-2 border-[#1BFD9C] text-[#1BFD9C] overflow-hidden transition-all duration-300 leading-[1.4em] shadow-[inset_0_0_10px_rgba(27,253,156,0.4),_0_0_9px_3px_rgba(27,253,156,0.1)] bg-[linear-gradient(to_right,rgba(27,253,156,0.1)_1%,transparent_40%,transparent_60%,rgba(27,253,156,0.1)_100%)] before:content-[''] before:absolute before:left-[-4em] before:top-0 before:w-[4em] before:h-full before:bg-[linear-gradient(to_right,transparent_1%,rgba(27,253,156,0.1)_40%,rgba(27,253,156,0.1)_60%,transparent_100%)] before:transition-transform before:duration-[400ms] hover:text-[#82ffc9] hover:shadow-[inset_0_0_10px_rgba(27,253,156,0.6),_0_0_9px_3px_rgba(27,253,156,0.2)] hover:before:translate-x-[15em]
 } */




/* From Uiverse.io by adamgiebl */ 
/* button {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

button:hover:before {
  transform: translateX(15em);
} */