@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

*{
  font-family: "Inter", sans-serif;
}

/* <!-- From Uiverse.io by catraco -->  */

.my-btn {
  @apply text-sky-400 border border-sky-400 hover:bg-sky-400;
}

.linear-btn {
  @apply bg-[#045B98] hover:bg-[#1b8cdd] text-white;
}

.linear-text{
  @apply text-[#045B98]
}
/* .linear-text{
  @apply text-transparent bg-clip-text bg-linear-to-r from-[#085e9c] to-[#83bbe4]
}  */
.blue-text {
  @apply text-[#001931];
}
.gray-text {
  @apply text-[#A1A1AA];
}
.white-text {
  @apply text-white font-medium text-lg;
}

* {
  font-family: "Inter", sans-serif;
}

a.active {
  @apply text-[#045B98] font-semibold border-2;
}
